<div id="cart">

  <h2>Cart</h2>

  <ul class="items">
    <% tickets.each do |ticket| %>
      <li>
        <span class="name"><%= ticket[:name] %></span>
        <% if discount_applied %>
          <span class="striked-price">$<%= ticket[:price] %></span>
          <span class="discount-price"><%= ticket[:discount_price] %></span>
        <% else %>
          <span class="price">$<%= ticket[:price] %></span>
        <% end %>
      </li>
    <% end %>
  </ul>

  <div class="message">
    <%= message %>
  </div>

  <div class="total">
    <strong>Total:</strong> <%= total %>
  </div>

</div>
